# Fichiers de build Android
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Dossiers spécifiques aux modules
/*/build

# Fichiers de log
*.log

# Dossiers système
.navigation/
captures/

# Secrets (TRÈS IMPORTANT)
# Si tu ajoutes des clés API plus tard, ne les mets jamais sur GitHub
google-services.json
*.keystore
*.jks